*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: Open Sans, sans-serif;
    background: grey;
}
.sign-up {
    width: 50%;
    height: 60%;
}
img {
    width: 200px;
    height: 200px;
}