*, ::before, ::after {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shape {
    margin: 70px 0;
}

.triangle {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 75px solid salmon;
  border-bottom: 70px solid transparent;
}

.coeur {
    position: relative;
    width: 50px;
    height: 80px;
}

.coeur::before,
.coeur::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: crimson;
    border-radius: 40px 40px 0 0;
    transform: translateX(-11px) rotate(-45deg);
}
.coeur::after {
    transform: translateX(11px) rotate(45deg);
}

.oeuf {
    width: 140px;
    height: 180px;
    background: slateblue;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}