*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    height: 100vh;
    font-family: sans-serif;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.carousel {
    background: darkgray;
    width: 60vmin;
    height: 20vmin;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.mot {
    
    position: absolute;
   font-weight: 900;
   animation: carousel-anim 5s infinite ease-in-out;
  
}
.mot1 {

}
.mot2 {
margin-top: 200px;

}
.mot3 {
margin-top: 400px;
}
.mot4 {
margin-top: 600px;
}
.mot5 {
    margin-top: 800px;
}

@keyframes carousel-anim {
   0% {transform: translateY(0px);}
   25% {transform: translateY(-100px);}
   50% {transform: translateY(-200px);}
   75% {transform: translateY(-300px);}
   100% {transform: translateY(-400px);}
   /* 100% {transform: translateY(0px);} */
}